{% extends 'base.html.twig' %}

{% block title %}Gestion des comptes{% endblock %}

{% block contenu %}
    </br>

    <div>
        <a class="btn btn-secondary" role="button" href="{{ path('retour1') }}">Retour</a>
    </div>
    <div>
    {% for etudiant in etudiants %}
        <div class="modal fade" id="desac{{etudiant.PrenomETUDIANT}}" tabindex="-1" role="dialog" aria-labelledby="refus" aria-hidden="true">
        </div>

        <div class="col-md-auto">
            <h1 id="header2">{{etudiant.PrenomETUDIANT}} {{ etudiant.NomETUDIANT }}</h1>

        </div>
        </div>
        </br>
    {% endfor %}

    </div>

    </br>
    <div id="div_note">
        <table id="table_note"  class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Ue Inscrit</th>
                <th scope="col">Coeff</th>
                <th></th>
            </tr>
            </thead>
    </div>

    </div>



    {% for etudiantue in etudiantsues %}

    {% for ue in ues %}
{% for etudiant in etudiants %}

{% if etudiantue.IdETUDIANT==etudiant.IdETUDIANT %}
            {% if ue.IdUE==etudiantue.IdUE %}
                <th><h id="titre1"></h>{{ etudiantue.IdUE}} </th>
                <th><h id="titre1"></h>{{ ue.NomUE}} </th>
            {% endif %}
        {% endif %}
{% endfor %}
    {% endfor %}
    {% endfor %}


    <div class="col-md-auto">

    </div>
    </div>
    </div>
    </div>
    </br>
    </table>


{% endblock %}
