{% extends 'base.html.twig' %}

{% block title %}Profil étudiant{% endblock %}

{% block contenu %}
    </br>
    <div>
        <a class="btn btn-secondary" role="button" href="{{ path('retour1') }}">Retour</a>
    </div>
    <div>
    {% for etudiant in etudiants %}
        <div class="modal fade" id="desac{{etudiant.PrenomETUDIANT}}" tabindex="-1" role="dialog" aria-labelledby="refus" aria-hidden="true">
        </div>

        <div class="col-md-auto">
            <h1 id="header2">{{etudiant.PrenomETUDIANT}} {{ etudiant.NomETUDIANT }}
                <th><a class="btn btn-warning" role="button" href="{{ path('consult_ue_etu',{'id':etudiant.idETUDIANT}) }}"><h4>Voir UE</h4></a></th>
            </h1>
        </div>

        </div>
    {% endfor %}
    <div style=" display: flex; justify-content: flex-start">




    {% for ue in ues %}
        <div id="div UE" style="justify-content: flex-start;  width:auto;height:50%;">
            <div>
    {% for note in notes %}

        {% if ue.IdUE==note.IdUE %}
                {% set totalnote = totalnote + (note.CoeffNOTE*note.NoteNOTE) %}
                {% set moyenne = moyenne + note.CoeffNOTE  %}
        {% endif %}
        </div>
    {% endfor %}
        {% if moyenne>0 %}
{#  TENTATIVE DE MISE EN PAGE          {% set dispo=dispo+1 %}#}
{#            {%  if dispo is divisible by(4) %}#}
{#                {% endif %}#}
            {% set nombreetcs=nombreetcs+ue.EtcsUE %}
{% set moyennetotale=moyennetotale+((totalnote/moyenne)*ue.EtcsUE) %}
            <h1 style="text-align: center"> {{ ue.NomUE }}</h1>
            <h4 style="text-align: center">Moyenne:{{ (totalnote / moyenne)|round(2, 'floor')  }}</h4>
            {% set totalnote=0 %}
            {% set moyenne=0 %}
            {% set etcs=0 %}
            <div >
                <table id="table_note"  class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Note</th>
                        <th scope="col">UE</th>
                        <th scope="col">Coeff</th>
                    </tr>
                    </thead>
            </div>
            </br>
            {% for note in notes %}
                {% if ue.IdUE==note.IdUE %}
                    <tr>
                    <th><h id="titre1"></h>{{ note.NoteNOTE}} </th>
                    <th><h id="titre1"></h>{{ue.NOMUE}} </th>
                    <th><h id="titre1"></h>{{ note.CoeffNOTE}} </th>
                    </tr>

                {% endif %}
            {% endfor %}

        {% endif %}
        </table>
    {% endfor %}
{% if nombreetcs>0 %}
            <h1>La moyenne totale est {{ (moyennetotale/nombreetcs)|round(2, 'floor')}}</h1>
{% else %}
    <h1>Cet éleve n'a aucune notes</h1>
{% endif %}
        </div>

    </div>

    </div>

    <div class="col-md-auto">
        </div>

    </div>

{% endblock %}
