{% extends 'base.html.twig' %}

{% block title %}Gestion des comptes{% endblock %}

{% block contenu %}
    </br>

    <div>
        <a class="btn btn-secondary" role="button" href="{{ path('retour1') }}">Retour</a>
    </div>
    <div>
        <h1 id="header2">Liste Notes</h1>
    </div>

    </br>
    <div id="div_note">
        <table id="table_note"  class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Note</th>
                <th scope="col">Nom Etudiant</th>
                <th scope="col">Prenom Etudiant</th>
                <th></th>
            </tr>
            </thead>
    </div>
    {% for note in notes %}
        <th><h id="titre1"></h>{{ note.NoteNOTE}} </th>
    {% for etudiant in etudiants %}
        {% if etudiant.Id==note.TestnoteNOTE %}
            <th> <h id="titre1">{{ etudiant.NomETUDIANT}}</h> </th>
            <th> <h id="titre1">{{ etudiant.PrenomETUDIANT}}</h> </th>
        {% endif %}

    {% endfor %}


        <div class="modal fade" id="desac{{note.IdNOTE}}" tabindex="-1" role="dialog" aria-labelledby="refus" aria-hidden="true">
        </div>
        <tr>

        {#                        //<h5 class="mb-1">{{ compte.id }} {{ compte.PrenomETUDIANT }}</h5>#}


    {% endfor %}


{#            <th><h id="titre1">{{ note.Etudiant.IdETUDIANT}}</h> </th>#}
{#            <th><a class="btn btn-warning" role="button" href="{{ path('reactivateCompte', {'id':compte.id}) }}">BOUTON A PARAMETRER</a></th>#}
       </tr>




        <div class="col-md-auto">

        </div>
        </div>
        </div>
        </div>
        </br>

    </table>


{% endblock %}
