{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block contenu %}

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <p>Page de connexion</p>

    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey | trans(error.messagedata, 'security') }}
        </div>
    {% endif %}

    </div>
    {% form_theme formLogin 'bootstrap_4_layout.html.twig' %}
    <!-- Login Form -->
    <div class="fadeIn second">
        {{ form_start(formLogin) }}
    
        {{ form_widget(formLogin.login) }}
    
        {{ form_widget(formLogin.password) }}
        </br>
        {{ form_widget(formLogin.connexion) }}

        {{ form_end(formLogin) }}

    </div>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="{{ path('crea_compte') }}">Créer un compte</a>
      <a class="underlineHover" href="{{ path('oublie') }}">Mot de passe oublié</a>
    </div>

  </div>
</div>
{% endblock %}
