{% extends 'base.html.twig' %}

{% block title %}Modification du compte{% endblock %}

{% block contenu %}

    {% form_theme formModifCompte 'bootstrap_4_layout.html.twig' %}
    <h1>Modification compte</h1>

    <div class="form-group">
        <label>Identifiant</label>
        <p type="password" class="form-control">{{ utilisateur.login }}</p>
    </div>

    {{ form_start(formModifCompte) }}

    {{ form_row(formModifCompte.password) }}
    {{ form_row(formModifCompte.newpassword) }}

    {{ form_end(formModifCompte) }}
{% endblock %}
