{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block contenu %}

    <div id="menu_accueil" >

        <h4 id="h4accueil">Bienvenue sur le site de projet </h4>
        <p id="paccueil">Créé par Aurelien et Clément</p>
    </div>




{#<div class="wrapper fadeInDown">

<a class="underlineHover" href="{{ path('capteur    ') }}">Page Capteur</a>

</div>#}
{% endblock %}

