{% extends 'base.html.twig' %}

{% block title %}Enregister notes{% endblock %}

{% block contenu %}

    <div style="text-align: center;">
        {% if estInserer %}
            <p>Insertion réussie</p>
        {% else %}
            <p>Vous pouvez insérer des notes</p>
        {% endif %}

    </div>
    </br>
<div style=" display: flex; justify-content: flex-start">


    <div style="justify-content: flex-start; flex: auto; width:25%;height:600px;overflow:auto;">
        <table id="table_note"  class="table" >
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nom UE</th>
                <th scope="col">ID</th>
                <th></th>
            </tr>
            </thead>

            {% for ue in ues %}
                <tr>
                    <th> <h >{{ ue.NomUE}}</h> </th>
                    <th><h font-color="red">{{ ue.IdUE}}</h> </th>
                </tr>

            {% endfor %}
        </table>
    </div>


{#    <div style="text-align: center;">#}
{#        <h2>Ajouter Note</h2>#}
{#    </div>#}
    <div style=" flex: auto; text-align: center;position: sticky; position: -webkit-sticky;top: 20px"> {#style="margin-top: 5%;margin-left: 25%;margin-right: 25%;text-align: center;">#}
        <!-- Capteur Formulaire -->
        {% form_theme formAjouterNotes'bootstrap_4_layout.html.twig' %}

        {{ form_start(formAjouterNotes) }}
{#        {{ form_widget(formAjouterNotes.idnote) }}#}
        {{ form_widget(formAjouterNotes.note) }}
        {{ form_widget(formAjouterNotes.coeffnote) }}
        {{ form_widget(formAjouterNotes.idue) }}
        {{ form_widget(formAjouterNotes.idetudiant) }}


{#        {{ form_row(formAjouterNotes.etudiant) }}#}
{#        {{ form_row(formAjouterNotes.ue) }}#}
        <br>
        <br>
        {{ form_widget(formAjouterNotes.enregistrer) }}

        {{ form_end(formAjouterNotes) }}
    </div>
    <div style="justify-content: flex-start; flex: auto; width:25%;height:600px;overflow:auto;">
        <table id="table_note"  class="table" >
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">ID</th>
                <th></th>
            </tr>
            </thead>

            {% for etudiant in etudiants %}
                <tr>
                    <th> <h >{{ etudiant.NomETUDIANT}}</h> </th>
                    <th><h ></h>{{ etudiant.PrenomETUDIANT}} </th>
                    <th><h font-color="red">{{ etudiant.IdETUDIANT}}</h> </th>
                </tr>

            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
