{% extends 'base.html.twig' %}

{% block title %}Enregister Notes par Ue{% endblock %}

{% block contenu %}
    </br>
    <div>
        <h1 id="header2"> {% for ue in ues %}
                <tr>
                    <th> <h >{{ ue.NomUE}}</h> </th>
                </tr>


            {% endfor %}</h1>
    </div>
    <div style=" display: flex; justify-content: flex-start">




{#        <div style="justify-content: flex-start; flex: auto; width:25%;height:600px;overflow:auto;">#}
{#qsdsqdqs#}
{#        </div>#}
        {#    <div style="text-align: center;">#}
        {#        <h2>Ajouter Note</h2>#}
        {#    </div>#}
        <div style=" flex: auto; text-align: center;position: sticky; position: -webkit-sticky;top: 20px"> {#style="margin-top: 5%;margin-left: 25%;margin-right: 25%;text-align: center;">#}
            <!-- Capteur Formulaire -->
            {% for ue in ues %}
            {% form_theme formAjouterNotes'bootstrap_4_layout.html.twig' %}

                <div class="form-group">
                    <label>IdUE</label>
                    <p type="password" class="form-control">{{ ue.idue}}</p>
                </div>
            {{ form_start(formAjouterNotes) }}
            {{ form_widget(formAjouterNotes.note) }}
            {{ form_widget(formAjouterNotes.coeffnote) }}
            {{ form_widget(formAjouterNotes.idetudiant) }}

            <br>
            <br>
                {% set id=2 %}
            {{ form_widget(formAjouterNotes.enregistrer ) }}

            {{ form_end(formAjouterNotes) }}
            {% endfor %}
        </div>

        <div style="justify-content: flex-start; flex: auto; width:25%;height:600px;overflow:auto;">
            <table id="table_note"  class="table" >
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">ID</th>
                    <th></th>
                </tr>
                </thead>

                {% for etudiant in etudiants %}
                    <tr>
                        <th> <h >{{ etudiant.NomETUDIANT}}</h> </th>
                        <th><h ></h>{{ etudiant.PrenomETUDIANT}} </th>
                        <th><h >{{ etudiant.IdETUDIANT}}</h> </th>
                        <th><h >
                        </h> </th>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
