
{% extends 'base.html.twig' %}

{% block title %}Liste des UE {% endblock %}

{% block contenu %}
    {% for ue in ues %}
    <div style="text-align: center;">
        <tr>
            <th><a class="btn btn-warning" role="button" href="{{ path('ajouter_notes_ue',{'id':ue.idUE}) }}"><h4>{{ ue.NomUE}}</h4></a></th>
        </tr>
        <div class="col-md-auto">

        </div>
        {% endfor %}
    </div>

{% endblock %}
