{% extends 'base.html.twig' %}

{% block title %}Enregister capteur{% endblock %}

{% block contenu %}

    <div style="text-align: center;">
        <p>Enregistrer informations d'un capteur </p>
    </div>
    <div style="text-align: center;">
        {% if estInserer %}
            <p>Insersion réussie</p>
        {% else %}
            <p>Erreur insersion</p>
        {% endif %}

    </div>

{% endblock %}
