<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %}</title>
        {% block css %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
            <link href="{{ asset('css/sidebar.css') }}" type="text/css" rel="stylesheet">

            <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <link rel="stylesheet" type="text/css" href="/css/style.css"/>

        {% endblock %}
    </head>
    <body>
        {#{% block h1 %}<h1>Bienvenue</h1>{% endblock %}#}

        {% block header %}
            <header class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div >
                        </div>
                        <div>
                        </div>
                        <div class="col-8">
                            <h2 >Site de gestion de notes et de moyenne</h2>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}

        {% block nav %}
            <div class="container-fluid bg-dark">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-dark">
                        <div class="navbar-nav">
                            {% if app.user %}
                                <a class="nav-link disabled" href="#">Bienvenue {{ app.user.username }}</a>
                                <a class="nav-link" href="{{ path('modifCompte',{'id':app.user.id}) }}">Profil</a>
                                <a class="nav-link" href="{{ path('logout') }}">Déconnexion</a>
                            {% else %}
                                <a class="nav-link" href="{{ path('login') }}">Connexion</a>
                                <a class="nav-link" href="{{ path('crea_compte') }}">Incription</a>
                            {% endif %}
                        </div>
                    </nav>
                </div>
            </div>
            <div class="container-fluid affix-top ">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                {% block menu %}
                                    <a class="nav-link" href="{{ path('accueil') }}">Accueil</a> </br>
                                    {% if app.user %}
                                        {% if app.user.role == "admin" %}
{#                                            <a class="nav-link" href="{{ path('capteur') }}">Capteur</a> </br>#}
                                            <a class="nav-link" href="{{ path('liste_compte') }}">Gérer compte</a> </br>
                                            <a class="nav-link" href="{{ path('consult_notes') }}">Consulter Notes</a> </br>
                                            <a class="nav-link" href="{{ path('consult_etudiant') }}">Consulter Etudiants</a> </br>
                                            <a class="nav-link" href="{{ path('ajouter_notes') }}">Ajouter Notes</a> </br>
                                            <a class="nav-link" href="{{ path('ajouter_notes_listeue') }}">Ajouter Par UE</a> </br>
                                        {% elseif app.user.role == "mention"  %}
                                            <a class="nav-link" href="{{ path('liste_compte') }}">Gérer compte</a> </br>
                                            <a class="nav-link" href="{{ path('consult_etudiant') }}">Consulter Etudiants</a> </br>
                                        {% elseif app.user.role == "parcours"  %}
                                            <a class="nav-link" href="{{ path('liste_compte') }}">Gérer compte</a> </br>
                                            <a class="nav-link" href="{{ path('consult_etudiant') }}">Consulter Etudiants</a> </br>
                                        {% elseif app.user.role == "rannee" %}
                                            <a class="nav-link" href="{{ path('liste_compte') }}">Gérer compte</a> </br>
                                            <a class="nav-link" href="{{ path('consult_etudiant') }}">Consulter Etudiants</a> </br>
                                        {% elseif app.user.role == "eannee" %}
                                            <a class="nav-link" href="{{ path('consult_etudiant') }}">Consulter Etudiants</a> </br>
                                        {% endif %}
                                    {% else %}
{#                                        <a class="nav-link" href="{{ path('points') }}">Infraction</a> </br>#}
                                    {% endif %}
                                {% endblock %}
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        {% endblock %}

        {#{% block flash %}
            {% for msg in app.session.flashBag.get('info') %}
                <div class="alert alert-success" role="alert">
                    {{ msg }}
                </div>
            {% endfor %}
        {% endblock %}#}
        <main class="container-fluid" style="background :linear-gradient(90deg, rgba(11,107,168,1) 0%, rgba(44,123,173,1) 50%, rgba(74,133,170,1) 100%);min-height: 100% ">

{#            <div class="container">#}
                {% block contenu %}

                {% endblock %}
{#            </div>#}
        </main>
        {% block footer %}
            <footer class="container-fluid bg-dark text-light" style="bottom: 0;">
                <div class="container"  id="footer2">
                    <div id="div_footer">
                        <h4 >INFORMATIONS</h4>
                        <br>
                        <li>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                                FAQ
                            </button>
                        </li>
                        </ul>
                    </div>
                </div>
                <p>Copyright - Aurelien RAVAUD/ Clément DECROCK</p>
            </footer>
        {% endblock %}
        {% block javascripts %}
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
        {% endblock %}
    </body>
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Foire aux questions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>

                    </button>
                </div>
                <div class="modal-body">
                    <div id="div_FAQ">
                        <h1 id="question">BLA BLA BLA BLA BLA </h1>
                        <p>BLA BLA BLA BLA BLA </p>
                    </div>
                    <div id="div_FAQ">
                        <h1 id="question">BLA BLA BLA BLA BLA </h1>
                        <p>BLA BLA BLA BLA BLA </p>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</html>
