{% extends 'base.html.twig' %}

{% block title %}Création Compte{% endblock %}

{% block contenu %}

    {% form_theme formCreaCompte 'bootstrap_4_layout.html.twig' %}
    <h1>Création Compte</h1>

    {{ form_start(formCreaCompte) }}
    {{ form_row(formCreaCompte.login) }}
    {{ form_row(formCreaCompte.password) }}
    </br>
    {{ form_end(formCreaCompte) }}
{% endblock %}
