<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Réinitialisé mot de passe</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link href="{{ asset('css/sidebar.css') }}" type="text/css" rel="stylesheet">

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>

</head>
<body>
<header class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h1 class="text-uppercase">PV Nova</h1>
            </div>
            <div class="col-8">
                <h2>Agence nationale de traitement automatisé des infractions</h2>
            </div>
        </div>
    </div>
</header>
<main class="container-fluid" style="background-color: #0b6ba8; height: 100%;">
    <div class="container">
        <h3>Réinitialisé mot de passe : 127.0.0.1:8000/reset/{{ lien }}</h3>
    </div>
</main>
</body>
</html>
