{% extends 'base.html.twig' %}

{% block title %}Gestion des comptes{% endblock %}

{% block contenu %}
    </br>
    {% if app.user %}
    {% if app.user.role == "admin" %}
    <div class="card">
        <div class="card-body">
            <div class="d-flex w-100 justify-content-between">
                <div class="col">
                    <h5 class="mb-1">Comptes Admin</h5>
                </div>
                <div class="col-md-auto">
                    <a class="btn btn-primary" role="button" href="{{ path('gestion_compteAdmin') }}">Visualiser</a>
                    <a class="btn btn-success" role="button" href="{{ path('crea_compteAdmin') }}">+</a>
                </div>
            </div>
        </div>
    </div>
{% if  app.user.role=="admin"%}
    </br>
    <div class="card">
        <div class="card-body">
            <div class="d-flex w-100 justify-content-between">
                <div class="col">
                    <h5 class="mb-1">Comptes Responsable de Mention </h5>
                </div>
                <div class="col-md-auto">
                    <a class="btn btn-primary" role="button" href="{{ path('gestion_compteMention') }}">Visualiser</a>
                    <a class="btn btn-success" role="button" href="{{ path('crea_compteMention') }}">+</a>
                </div>
            </div>
        </div>
    </div>
{% if app.user.role == "mention" or app.user.role=="admin"%}
    </br>
    <div class="card">
        <div class="card-body">
            <div class="d-flex w-100 justify-content-between">
                <div class="col">
                    <h5 class="mb-1">Comptes Responsable de Parcours </h5>
                </div>
                <div class="col-md-auto">
                    <a class="btn btn-primary" role="button" href="{{ path('gestion_compteParcours') }}">Visualiser</a>
                    <a class="btn btn-success" role="button" href="{{ path('crea_compteParcours') }}">+</a>
                </div>
            </div>
        </div>
    </div>
{% if app.user.role == "mention" or app.user.role=="admin" or app.user.role=="parcours" or app.user.role=="Rannee"%}
    </br>
    <div class="card">
        <div class="card-body">
            <div class="d-flex w-100 justify-content-between">
                <div class="col">
                    <h5 class="mb-1">Comptes Responsable d'année </h5>
                </div>
                <div class="col-md-auto">
                    <a class="btn btn-primary" role="button" href="{{ path('gestion_compteRannee') }}">Visualiser</a>
                    <a class="btn btn-success" role="button" href="{{ path('crea_compteRannee') }}">+</a>
                </div>
            </div>
        </div>
    </div>
    {% if app.user.role == "mention" or app.user.role=="admin" or app.user.role=="parcours" or app.user.role=="Rannee"%}
    </br>
    <div class="card">
        <div class="card-body">
            <div class="d-flex w-100 justify-content-between">
                <div class="col">
                    <h5 class="mb-1">Comptes D'enseignants d'année </h5>
                </div>
                <div class="col-md-auto">
                    <a class="btn btn-primary" role="button" href="{{ path('gestion_compteEannee') }}">Visualiser</a>
                    <a class="btn btn-success" role="button" href="{{ path('crea_compteEannee') }}">+</a>
                </div>
            </div>
        </div>
    </div>
{% if app.user.role == "mention" or app.user.role=="admin" or app.user.role=="parcours" or app.user.role=="Rannee"%}
    </br>
    <div class="card">
        <div class="card-body">
            <div class="d-flex w-100 justify-content-between">
                <div class="col">
                    <h5 class="mb-1">Comptes Responsable UE</h5>
                </div>
                <div class="col-md-auto">
                    <a class="btn btn-primary" role="button" href="{{ path('gestion_compteUe') }}">Visualiser</a>
                    <a class="btn btn-success" role="button" href="{{ path('crea_compteUe') }}">+</a>
                </div>
            </div>
        </div>
    </div>
{% if app.user.role == "mention" or app.user.role=="admin"%}
    </br>
    <div class="card">
        <div class="card-body">
            <div class="d-flex w-100 justify-content-between">
                <div class="col">
                    <h5 class="mb-1">Comptes Désactivé</h5>
                </div>
                <div class="col-md-auto">
                    <a class="btn btn-primary" role="button" href="{{ path('gestion_compteDesac') }}">Visualiser</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
