{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block contenu %}

    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <h1>Mot de passe oublié</h1>

    {{ form_start(form) }}

    {{ form_end(form) }}
{% endblock %}
