{% extends 'base.html.twig' %}

{% block title %}Gestion des comptes{% endblock %}

{% block contenu %}
    </br>

    <div>
        <a class="btn btn-secondary" role="button" href="{{ path('gestion_compte') }}">Retour</a>
    </div>

    </br>
    {% for compte in comptes %}
        <div class="modal fade" id="desac{{compte.id}}" tabindex="-1" role="dialog" aria-labelledby="refus" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle" style="color: red">Attention</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>

                        </button>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                        <h1 id="question">Etes vous sûres de désactiver?</h1>
                        <a class="btn btn-success" role="button" href="{{ path('deleteCompte',{'id':compte.id}) }}">Oui</a>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Non</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="d-flex w-100 justify-content-between">
                    <div class="col">
                        <h5 class="mb-1">{{ compte.id }}</h5>
                    </div>
                    {% if compte.role == "opj" and compte.isDesactivate == false %}
                        <div class="col-md-auto">
                            <a class="btn btn-success" role="button" href="{{ path('modifCompte', {'id':compte.id}) }}">Modifier</a>
                        </div>
                        <div class="col-md-auto">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#desac{{compte.id}}">Désactiver</button>
                        </div>
                    {% endif %}
                    {% if compte.isDesactivate == true %}
                        <div class="col-md-auto">
                            <a class="btn btn-warning" role="button" href="{{ path('reactivateCompte', {'id':compte.id}) }}">Réactiver</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        </br>
    {% endfor %}


{% endblock %}
