{% extends 'base.html.twig' %}

{% block title %}Liste des Etudiants{% endblock %}

{% block contenu %}

    <div>
        <a class="btn btn-secondary" role="button" href="{{ path('retour1') }}">Retour</a>
    </div>
    <div>
        <h1 id="header2">Liste Etudiants</h1>
    </div>

<div id="div_note">
    <table id="table_note"  class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Id</th>
            <th></th>
        </tr>
        </thead>
</div>
    {% for compte in comptes %}
        <div class="modal fade" id="desac{{compte.IdETUDIANT}}" tabindex="-1" role="dialog" aria-labelledby="refus" aria-hidden="true">
        </div>

{#                        //<h5 class="mb-1">{{ compte.id }} {{ compte.PrenomETUDIANT }}</h5>#}

                                <tr>
                                    <th> <h id="titre1">{{ compte.NomETUDIANT}}</h> </th>
                                    <th><h id="titre1"></h>{{ compte.PrenomETUDIANT}} </th>
                                    <th><h id="titre1">{{ compte.IdETUDIANT}}</h> </th>
                                    <th><a class="btn btn-warning" role="button" href="{{ path('profiletu', {'id':compte.idETUDIANT}) }}">Voir les Notes</a></th>
                                </tr>



                        <div class="col-md-auto">

                        </div>
                </div>
            </div>
            </div>
    {% endfor %}
    </table>


{% endblock %}
